<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Barra de progreso</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progreso" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso + '%'"></div>
                </div>
                <br/>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="progreso" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!-- [leyend]="leyenda", by this way we can assing to a variable leyenda (at this moment that var dont exists, so it will give an error -->
                <!-- leyend ="leyenda", by this way we can send this value 'leyenda' literally as string -->
                <app-increaser leyend="Progress Azul" [progreso]="20"></app-increaser>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-increaser leyend="Progress Verde" [progreso]="20"></app-increaser>
            </div>
        </div>
    </div>
</div>